html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}

:root {
    --primary-color: #f05123;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #666;
    --text-color: #333;
    --plum-color: #b80257;
    --fb-color: #4080ff;
    --mail-color: #f47425;
    --invalid-color: #f33a58;
    --desc-color: #0000008a;
    --first-color: #1dbfaf;
    --second-color: #1dbfaf;
    --button-color: #1dbfaf;
    --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-code: 'SF Mono', monospace;
    --home-slideshow-left-space: 116px;
    --home-section-left-space: 160px;
}

body {
    margin: 0;
    font-family: system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    /* background-image: url('/images/sea.jpg');*/
    /*background-size: cover;*/
    /*background: linear-gradient(90deg,#1B4F93, #707070)*//**/
}

main {
    display: block
}

b, h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0
}

.h1,
h1 {
    font-size: calc(1.375rem + 1.5vw)
}

@media (min-width:1200px) {
    .h1,
    h1 {
        font-size: 2.5rem
    }
}

.h2,
h2 {
    font-size: calc(1.325rem + .9vw)
}

@media (min-width:1200px) {
    .h2,
    h2 {
        font-size: 2rem
    }
}

.h3,
h3 {
    font-size: calc(1.3rem + .6vw)
}

@media (min-width:1200px) {
    .h3,
    h3 {
        font-size: 1.75rem
    }
}

.h4,
h4 {
    font-size: calc(1.275rem + .3vw)
}

@media (min-width:1200px) {
    .h4,
    h4 {
        font-size: 1.5rem
    }
}

.h5,
h5 {
    font-size: 1.25rem
}

.h6,
h6 {
    font-size: 1rem
}

p {
    margin-bottom: 1rem;
    margin-top: 0
}

header {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 79px 0px;
    width: 100%;
    --height: 66px;
    /*background: linear-gradient(45deg, #A5678E,#CDB3D4);*/
}

    header .header-card {
        align-items: center;
        background-color: #fff;
        /*border-bottom: 1px solid #e8ebed;*/
        display: flex;
        font-size: 1.4rem;
        height: var(--height);
        left: 0;
        padding: 0 58px;
        position: -webkit-sticky;
        position: sticky;
        right: 0;
        top: 0;
        z-index: 20;
        backdrop-filter: blur(10px);
        margin: auto;
        width: 90%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }

        header .header-card .logo-card {
            align-items: center;
            display: flex;
        }

            header .header-card .logo-card .img-logo {
                width: 100%;
                height: 100%;
                vertical-align: middle;
                object-fit: contain;
                object-position: left center;
            }

.logo-card a {
    display: flex;
}

.logo-card img {
    border-radius: 8px;
    flex-shrink: 0;
    height: 68px;
    object-fit: contain;
    width: 68px;
}

.navbar_logoheading {
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 16px;
    font-size: 15px;
    margin: 0px 0px 0px 15px !important;
}

.sr-card {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1 1;
}

.search-icon {
    background-color: #fff;
    background-image: url(/images/sr.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px;
    border-radius: 50%;
    height: 32px;
    opacity: .7;
    transition: opacity .2s ease-in-out;
    width: 30px;
}

.search-input_sr {
    border: none;
    caret-color: #444;
    flex: 1 1;
    height: 100%;
    outline: none;
    padding: 0 4px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.0000001); /* Màu trắng với độ trong suốt là 50% */
}

    .search-input_sr::placeholder {
        color: white; /* Đặt màu chữ cho placeholder */
    }

.search-input {
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    flex: 1 1;
    height: 40px;
    padding: 0 16px 0 8px;
    transition: border-color .2s ease-in-out;
    width: 420px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.menu-nav {
    padding-left: unset;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    /*-webkit-box-flex-flow: row wrap;*/
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    row-gap: 16px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    text-align: right;
    list-style: none;
}

ul {
    list-style: none;
}

.button-menu {
    display: block;
}

.log-card {
    grid-row: 1/2;
    grid-column: 2/3;
    /* justify-self: flex-end; */
    height: 100%;
    margin-left: -22px;
}

.button-card {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 0 0 42px;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: rgba(18,18,18,1);
    font-size: 14px;
    font-weight: bold;
}

    .button-card:hover {
        -webkit-text-decoration: underline;
        text-decoration: underline;
        text-underline-offset: 7px;
        color: rgba(0,100,65,1);
    }

.menu-up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    grid-column: last-col/span 1;
    grid-row: span 2;
    padding-left: 16px;
}

.button-up {
    margin: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
}

.up-card1 {
    color: #ffffff;
    height: 40px;
    width: 100px;
    border-radius: 16px;
    border-style: solid;
    border-width: 0px;
    font-size: 14px;
    background-color: #7367F0;
}

.up-card2 {
    color: #ffffff;
    height: 40px;
    width: 100px;
    border-radius: 16px;
    border-style: solid;
    border-width: 0px;
    font-size: 14px;
    background-color: rgba(222,51,181,1);
}

/* Nội dung */
.content-card {
    display: flex;
    min-height: 100vh;
    backdrop-filter: blur(4px);
    background-size: cover;
    background-position: center;
    background : #fff;
}

.menu-section {
    flex-shrink: 0;
    /*backdrop-filter: blur(10px);*/
}

.content-aside {
    max-width: calc(100% - 96px);
    padding: 0 40px 0 20px;
    /* background: linear-gradient(45deg,#112D60,#B6C0C5);*/
}

.section-card_menu {
    --width: 96px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    left: 0;
    padding: 0 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 74px;
    width: var(--width);
    z-index: 8;
}

.content-card_aside {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.menu-icon {
    align-items: center;
    background-color: #1473e6;
    border-color: #1473e6;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 44px;
    justify-content: center;
    margin: 8px 0 2px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 44px;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.CreateButton_wrapper__Bb6o6 .CreateButton_icon__ipBrz {
    font-size: 1.6rem;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.sidebar_list__menu {
    padding-left: 0;
    --width: 96px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    left: 0;
    padding: 0 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 74px;
    width: var(--width);
    z-index: 8;
}

ul {
    list-style-type: none;
}

.sidebar_item {
    background-color: #e8ebed;
    color: #1a1a1a;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    color: #404040;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 72px;
    justify-content: center;
    margin-top: 14px;
    width: 72px;
    text-decoration: none;
}

    .sidebar_item span {
        font-size: 12px;
        font-weight: 600;
        margin-top: 6px;
    }

    .sidebar_item svg {
        font-size: 1.1rem;
    }

    .sidebar_item:hover {
        background-color: #B7B7B7 !important;
        color: #1a1a1a;
    }

    .sidebar_item:focus, .sidebar_item:hover, .sidebar_item:visited {
        outline: none;
        text-decoration: none;
        background-color: #f5f5f5;
    }

.content-aside {
    flex: 1 1;
}

.home_aside {
    margin-top: 18px;
}

.aside_wrapper {
    min-height: 270px;
}

.slick-list, .slick-slider {
    display: block;
    position: relative;
}

.slick-slider {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    touch-action: pan-y;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*-khtml-user-select: none;*/
}

.slideshow_arrow.slideshow_prev {
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slideshow_arrow {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    color: #4b4b4b;
    cursor: pointer;
    font-size: 1.2rem;
    height: 32px;
    line-height: 32px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 32px;
    z-index: 1;
}

    .slideshow_arrow.slideshow_next {
        right: 0;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
    }

/* Slideshow */
.slick-slide {
    display: none;
    /* float: left; */
    height: 100%;
    min-height: 1px;
}

.slick-initialized .slick-slide {
    display: block;
}

.slideshow_item {
    border-radius: 16px;
    height: 270px;
    overflow: hidden;
}

.slideshow_item {
    display: flex;
}

.slideshow_left {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 1.1rem;
    justify-content: center;
    line-height: 1.6;
    max-width: 100%;
    padding: 0 36px 36px;
    width: 640px;
}

.slideshow_heading {
    margin-bottom: 8px;
}

    .slideshow_heading .slideshow_crownIcon {
        display: inline-block;
        margin-left: 4px;
        width: 24px;
    }

        .slideshow_heading .slideshow_crownIcon img {
            width: 100%;
            margin-top: -10px;
        }

    .slideshow_heading a {
        color: #fff;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.5;
        text-decoration: none;
    }

        .slideshow_heading a:hover {
            color: #fff;
            text-decoration: none;
        }

.slideshow_right {
    display: flex;
    flex: 3 1;
    justify-content: flex-end;
}

.slideshow_desc {
    margin-bottom: 24px;
    margin-top: 0;
    max-width: 600px;
}

.slideshow_ctaBtn {
    border: 2px solid #fff;
    border-radius: 26px;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    min-width: 124px;
    padding: 4px 10px;
    text-align: center;
    transition: .2s ease;
    text-decoration: none;
    margin-top: 10px;
}

    .slideshow_ctaBtn:hover {
        color: var(--cta-hover-color);
        background-color: #fff;
    }

.slideshow_right .slideshow_img {
    height: 100%;
    object-fit: cover;
}

.slick-slide img {
    display: block;
}

body .slick-dots {
    bottom: -38px;
    left: 40px;
    text-align: left;
}

.slick-dots {
    bottom: -25px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

body .slick-dots li, body .slick-dots li button {
    width: 32px;
}

.slick-dots li, .slick-dots li button {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    position: relative;
}

    .slick-dots li button {
        background-color: transparent;
        border: 0;
        color: transparent;
        display: block;
        font-size: 0;
        line-height: 0;
        outline: none;
        padding: 5px;
    }

body .slick-dots li button:before {
    background-color: rgb(255, 140, 0);
    border-radius: 4px;
    content: "";
    height: 8px;
    margin-right: 10px;
    opacity: 1;
    transition: width .3s linear, background-color .3s linear;
    width: 32px;
}

.slick-dots li button:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    content: "•";
    font-family: slick;
    font-size: 6px;
    height: 20px;
    left: 0;
    line-height: 20px;
    opacity: .25;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px;
}
/* body .slick-dots li.slick-active button:before {
    background-color: #9aa6af;
    width: 50px;
} */
.home_wrapper {
    margin-top: 70px;
    overflow: hidden;
    padding: 0 44px 74px;
}

.scrollList_vertical {
    margin-bottom: 8px;
}

.scrollList_heading-wrap {
    align-items: baseline;
    display: flex;
}

.scrollList_heading {
    color: #242424;
    font-size: 1.6rem;
    font-weight: 900;
    margin-right: auto;
    margin-top: 16px;
}

.scrollList_label {
    background-color: #1473e6;
    border-radius: 4px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 3px 6px;
    position: relative;
    right: -8px;
    text-transform: uppercase;
    top: -6px;
}

.scrollList_body {
    min-height: 200px;
    padding-bottom: 0;
}

.index-module_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.index-module_col {
    padding-left: 4px;
    padding-right: 4px;
}

.home_courseItem {
    overflow: unset;
    position: relative;
}

.commonItem_wrapper {
    flex-shrink: 0;
    margin-bottom: 32px;
    overflow: hidden;
}

.commonItem_link {
    border-radius: 16px;
    display: block;
    object-fit: cover;
    overflow: hidden;
    /* padding-top: 56.25%;*/
    position: relative;
    width: 75%;
    border : 2px solid black;
    height : 400px;
    padding : 0px;
}

.commonItem_cta-btn {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .3s ease 0s;
    visibility: hidden;
    z-index: 1;
    
}

a:focus, a:hover, a:visited {
    outline: none;
    text-decoration: none;
}

.commonItem_link.commonItem_has-link:hover .commonItem_cta-btn, .commonItem_link.commonItem_has-link:hover:after {
    opacity: 1;
    visibility: visible;
}

.commonItem_link.commonItem_has-link:hover .commonItem_cta-btn {
    top: 50%;
}

.button_btn:hover {
    cursor: pointer;
    opacity: .9;
}

.button_btn {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--white-color);
    border: none;
    border-radius: 999px !important;
    color: var(--black-color);
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    outline: none;
    padding: 6px 16px;
    text-align: center;
    transition: .3s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.commonItem_link .commonItem_thumb {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.commonItem_link.commonItem_has-link:after {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 16px;
    content: "";
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: all .3s ease 0s;
    visibility: hidden;
}

.commonItem_title a, .commonItem_title span {
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #292929;
    display: -webkit-box;
    font-size: 1rem;
    line-height: 1.4;
    overflow: hidden;
    text-decoration: none;
    margin-top: 11px;
   /* -webkit-text-stroke: 1px #000000;
    -webkit-text-fill-color: #1bd1b7;
    font-size: 50px;*/
}

.courseItem_pro-icon {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 8px;
    left: 12px;
    padding: 5px;
    pointer-events: none;
    position: absolute;
    top: 12px;
    width: 26px;
    display: flex;
}

.courseItem_old-price {
    font-size: 1.5rem;
    margin-right: 8px;
    text-decoration: line-through;
    color: #D7D7D7;
}

.courseItem_main-price {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
/*    color: #fecfef;*/
}
.price a {
    text-decoration: none;
    cursor: pointer;
}
    .scrollList_verticalb {
        margin-bottom: 8px;
    }

.scrollList_sub-heading {
    color: #82919b;
    font-size: 0.8rem;
    margin-bottom: 0;
}

.scrollList_heading-wrap {
    align-items: baseline;
    display: flex;
}

.scrollList_heading {
    color: #242424;
    font-size: 1.4rem;
    font-weight: 900;
    margin-right: auto;
    margin-top: 16px;
}

    .scrollList_heading a {
        color: #000;
        text-decoration: none;
    }

.scrollList_view-all-box, .scrollList_view-all-icon {
    display: none;
}

.scrollList_body {
    min-height: 200px;
    padding-bottom: 0
}

.scrollList_view-all {
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 4px;
    padding: 8px 0 8px 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.postItem_author {
    align-items: center;
    display: flex
}

    .postItem_author .postItem_avatar-wrapper {
        margin-right: 8px;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }

    .postItem_author img {
        flex-shrink: 0
    }

    .postItem_author a {
        color: #757575;
        font-size: 0.8rem;
        text-decoration: none;
    }

    .postItem_author .postItem_user-name {
        color: #c2e9fb;
        font-weight: 600;
        font-size: 18px;
    }

    .postItem_author .postItem_dot {
        margin: 0 8px
    }

.fallbackAvatar_avatar {
    background: transparent;
    border-radius: 50%;
    font-size: var(--font-size)
}

    .fallbackAvatar_avatar.fallbackAvatar_pro {
        align-items: center;
        background: linear-gradient(180deg,#ffd900,#b45264 93.68%);
        display: flex;
        justify-content: center;
        padding: .7em;
        position: relative
    }

    .fallbackAvatar_avatar img:not(.fallbackAvatar_crown) {
        border-radius: 50%;
        height: 9em;
        object-fit: cover;
        width: 9em
    }

.fallbackAvatar_crown {
    height: 3.2em !important;
    position: absolute;
    right: -2em;
    top: -.2em;
    width: 3.2em !important
}

.userName_icon {
    color: #1b74e4;
    margin-left: 4px;
}

.continueButton_wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 32px 24px 48px 40px;
}

.continueButton_body {
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    color: #444;
    display: flex;
    font-size: 1rem;
    height: 56px;
    justify-content: center;
    width: 56px;
}

    .continueButton_body:hover {
        color: #444;
    }

.videoItem_video-info {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 16px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.videoItem_play-wrap {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    height: 36px;
    justify-content: center;
    width: 36px;
}

.videoItem_play-icon {
    color: #333;
    font-size: 1rem;
}

.videoItem_duration {
    border: 2px solid #fff;
    border-radius: 999px;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 7px 12px;
}

.videoItem_stats {
    color: #757575;
    display: flex;
    font-size: 0.8rem;
    margin-left: -24px;
}

    .videoItem_stats div {
        margin-left: 24px;
    }

.newFeed_wrapper {
    bottom: 60px;
    left: 22px;
    position: fixed;
}

.newFeed_button {
    align-items: center;
    background-color: hsla(0, 0%, 94%, .8);
    border-radius: 50%;
    color: #404040;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 44px;
    justify-content: center;
    margin-top: 4px;
    width: 44px;
    border: none;
}

    .newFeed_button .newFeed_icon {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: relative;
        width: 100%;
    }

.newFeed_button {
    font-size: 1.1rem;
    font-weight: 600;
}

/* footer */
.footer_wrapper {
    background-color: #181821;
    color: #a9b3bb;
    overflow: hidden;
    padding: 68px 0 40px;
}

.index-module_wide {
    width: 100%;
    max-width: 1224px;
    margin: 0 auto;
}

.index-module_grid {
    padding: 0;
    margin: 0 auto;
}

.footer_column {
    display: flex;
    justify-content: center;
}

.footer_column-top {
    align-items: center;
    display: flex;
}

.footer_top-logo {
    border-radius: 8px;
    height: 38px;
    margin-right: 10px;
    width: 38px;
}

.footer_contact-list {
    color: #a9b3bb;
    font-size: 0.8rem;
    line-height: 2.2rem;
    position: relative;
}

    .footer_contact-list a {
        color: #a9b3bb;
        text-decoration: none;
    }

.footer_top-slogan {
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin: auto;
    margin-left: 0px;
}

.footer_heading, .footer_heading a {
    color: #fff;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer_list {
    padding-left: 0;
}

    .footer_list li {
        font-size: 0.8rem;
        line-height: 1.5rem;
        margin-bottom: 8px;
        position: relative;
    }

    .footer_list a {
        color: #a9b3bb;
        cursor: pointer;
        position: relative;
        transition: .3s ease;
        text-decoration: none;
    }

        .footer_list a:hover {
            color: #fff;
        }

.footer_copyright {
    font-size: 0.8rem;
}

.footer_social-list {
    margin-left: auto;
}

    .footer_social-list a {
        text-decoration: none;
    }

.footer_social-item:hover {
    opacity: .9;
}

.footer_bottom {
    align-items: baseline;
    display: flex;
    margin-top: 48px;
}

.footer_social-item.footer_youtube {
    color: #eb2c3b;
}

.footer_social-item {
    font-size: 2rem;
}

    .footer_social-item.footer_facebook {
        color: #4867aa;
    }

    .footer_social-item.footer_social-item {
        margin-left: 16px;
    }

    .footer_social-item.footer_tiktok {
        color: #ccc;
    }

    .footer_social-item.footer_social-item {
        margin-left: 16px;
    }

.login_wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 2;
}

.login_content {
    --width: 640px;
    background: #fff;
    border-radius: 8px;
    max-width: calc(100vw - 32px);
    min-height: 600px;
    padding: 48px 16px 60px;
    position: relative;
    width: var(--width);
}

.login_content {
    min-height: 577px;
}

.login_title {
    color: #292929;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 12px 0;
}

.login_desc {
    color: var(--invalid-color);
    font-size: 0.8rem;
    line-height: 1.5;
    margin: 0 auto;
    width: min(400px, 90%);
}

.login_body {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.login_mainStep {
    margin-top: 24px;
}

.signinButton_wrapper {
    --height: 44px;
    background-color: #fff;
    border: 2px solid #dce0e3;
    border-radius: 44px;
    display: inline-block;
    height: var(--height);
    line-height: var(--height);
    padding-left: 16px;
    position: relative;
    text-align: center;
    width: 320px;
}

.signinButton_icon {
    left: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 16px;
}

.signinButton_title {
    color: #35414c;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 40px;
    outline: 0;
    text-align: center;
}

.login_dontHaveAcc, .login_error {
    font-size: 0.8rem;
    line-height: 1.8;
    margin-bottom: 0;
    padding: 24px 16px 0;
}

    .login_dontHaveAcc a, .login_forgotPassword {
        color: var(--primary-color);
        font-weight: 600;
        text-decoration: none;
    }

.login_acceptTerm {
    bottom: 0;
    color: #666;
    font-size: 0.8rem;
    left: 0;
    line-height: 1.6;
    padding: 12px 132px;
    position: absolute;
    right: 0;
}

    .login_acceptTerm a {
        color: currentColor;
        text-decoration: underline;
    }

.login_logo {
    border-radius: 8px;
    height: 100px;
    object-fit: cover;
    width: 100px;
}

.login_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.authModal_iframe {
    border: none;
    height: 100%;
    width: 100%;
}

.authModal_wrapper {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    position: fixed;
    z-index: 999;
}

.authModal_overlay {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-name: AuthModal_inline-urvhums__bFRaj;
    animation-name: AuthModal_inline-urvhums__bFRaj;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: rgba(0, 0, 0, .4);
    inset: 0;
    position: absolute;
}

.authModal_content {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-name: AuthModal_inline-urvhunc__UcxZP;
    animation-name: AuthModal_inline-urvhunc__UcxZP;
    background: #fff;
    border-radius: 16px;
    height: min(660px, 100% - 32px);
    overflow: hidden;
    position: relative;
    width: min(540px, 100% - 32px);
    z-index: 1;
    margin: auto;
}

.authModal_close {
    align-items: center;
    background: rgba(22, 24, 35, .03);
    border-radius: 50%;
    color: #333;
    cursor: pointer;
    display: flex;
    font-size: 2.8rem;
    height: 40px;
    justify-content: center;
    line-height: 0;
    position: absolute;
    right: 16px;
    top: 16px;
    width: 40px;
}

    .authModal_close span {
        margin-top: -4px;
    }

.modal-body {
    width: 100%;
    margin-top: 10px;
}

.wrapper {
    overflow: hidden;
    max-width: 390px;
    padding: 30px;
    border-radius: 5px;
    margin: auto;
}

    .wrapper .title-text {
        display: flex;
        width: 200%;
    }

    .wrapper .title {
        width: 50%;
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    }

    .wrapper .slide-controls {
        position: relative;
        display: flex;
        height: 50px;
        width: 100%;
        overflow: hidden;
        margin: 30px 0 10px 0;
        justify-content: space-between;
        border-radius: 5px;
    }

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controls label.signup {
    color: #000;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

input[type="radio"] {
    display: none;
}

#signup:checked ~ .slider-tab {
    left: 50%;
}

#signup:checked ~ label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked ~ label.login {
    color: #000;
}

#login:checked ~ label.signup {
    color: #000;
}

#login:checked ~ label.login {
    cursor: default;
    user-select: none;
}

.wrapper .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}

    .form-container .form-inner form {
        width: 50%;
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
    }

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

    .form-inner form .field input {
        height: 100%;
        width: 100%;
        outline: none;
        padding-left: 15px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        border-bottom-width: 2px;
        font-size: 17px;
        transition: all 0.3s ease;
    }

        .form-inner form .field input:focus {
            border-color: #fc83bb;
            /* box-shadow: inset 0 0 3px #fb6aae; */
        }

        .form-inner form .field input::placeholder {
            color: #999;
            transition: all 0.3s ease;
        }

form .field input:focus::placeholder {
    color: #b3b3b3;
}

.form-inner form .pass-link {
    margin-top: 5px;
}

.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}

    .form-inner form .pass-link a,
    .form-inner form .signup-link a {
        color: #fa4299;
        text-decoration: none;
    }

        .form-inner form .pass-link a:hover,
        .form-inner form .signup-link a:hover {
            text-decoration: underline;
        }

form .btn {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

    form .btn .btn-layer {
        height: 100%;
        width: 300%;
        position: absolute;
        left: -100%;
        background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
        border-radius: 5px;
        transition: all 0.4s ease;
        
    }

    form .btn:hover .btn-layer {
        left: 0;
    }

    form .btn input[type="submit"] {
        height: 100%;
        width: 100%;
        z-index: 1;
        position: relative;
        background: none;
        border: none;
        color: #fff;
        padding-left: 0;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }

.show {
    display: block;
}
/*CSS Content*/
.Content-box {
    width: 100%;
    /*background: linear-gradient(45deg ,#112D60,#B6C0C5);*/
}

.Content-box-title {
    height: 60px;
    width: 400px;
    margin: 20px 0 0 50px;
    text-align: center;
}

    .Content-box-title span {
        font-size: 50px;
        font-weight: bold;
        margin: auto;
        /*border: 2px solid red;
        border-radius: 10px;*/
        /*animation:*/ /*color-change-border 1s infinite alternate,*/ /*rotate 4s linear infinite;*/ /* Kết hợp hai animation */ /* Áp dụng animation */
        color: #999999; /* Màu chữ */
        -webkit-text-stroke: 2.5px black; /* Bo viền 1px, màu đen */
        -webkit-text-fill-color: white;
    }
    /*.Content-box-title span {
        position: relative;
        width: 8rem;
        height: 8rem;
        margin: 1rem;
        border-radius: 50%;
        background: repeating-conic-gradient( 
            from var(--angle),
            #ff0050 0%, #ff0050 5%,
            transparent 5%,
            transparent 40%,
            #ff0050 50% );
        animation: rotate 4s linear infinite
    }
        .Content-box-title span::after {
            content: "";
            position: absolute;
            inset: 4px;
            border: 4px solid var(--background-color);
            border-radius: 50%;
        }

        @keyframes rotate {
            from {
            --angle: Odeg;
        }
        to {
            --angle: 360deg;
        }
    }

    @property --angle {
        syntax: "<angle>";
        inherits: false;
        initial-value: Odeg;
    }*/

    .Content-box-title h2 {
        font-size: 40px;
        font-weight: bold;
        margin: auto;
        color: #999999; /* Màu chữ */
        -webkit-text-stroke: 2.5px black; /* Bo viền 1px, màu đen */
        -webkit-text-fill-color: white; /* Màu chữ (không cần thiết trên một số trình duyệt) */
    }

.Content-box-title-video {
    /*background-color: blue;*/
    width: 1000px;
    height: 600px;
    margin: 0 0 0 220px;
}
.Content-box-title-list, .list-learn {
    max-height: 720px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    /* Border Radius */
    border-radius: 10px;
    /*background-color: #1D1E22;*/
}
.Content-box-title-list {
    margin-top: 40px;
}
.list-learn {
    /*overflow: hidden;*/
    /* Glow Blur */
    /*filter: blur(20px);*/
    backdrop-filter: blur(20px);
}
.Content-box-title-list:before /*.list-learn:before*/ {
    content: '';
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    /*border color, change middle color*/
    background-image: conic-gradient( #e47916, rgba(167, 30, 30, 0),#21e64b, rgba(167, 30, 30, 0), #1976ed, rgba(167, 30, 30, 0) 100%);
    /* change speed here */
    animation: rotate 10s linear infinite;
    
}
.Content-box-title-list:after {
    content: '';
    position: absolute;
    z-index: -1;
    /* border width */
    left: 5px;
    top: 5px;
    /* double the px from the border width left */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    /*bg color*/
    background: #292a2e;
    /*box border radius*/
    border-radius: 7px;
    
}
    @keyframes rotate {
        100% {
            transform: translate(-50%, -50%) rotate(1turn);
        }
    }
.list-learn-Chapter {
    color: white;
    width: 90%;
    height: 290px;
    backdrop-filter: blur(5px); /* Độ mờ, bạn có thể thay đổi giá trị theo ý muốn */
    background-color: rgba(255, 255, 255, 0.1); /* Màu của overlay, bạn có thể thay đổi giá trị và độ trong suốt */
    border-radius: 7px;
    margin-top : 40px;
    display: block;
}
.list-learn-Chapter-icon {
    width: 15%;
    padding-top: 20px;

}
    .list-learn-Chapter-title {
        width: 90%;
        padding-top: 15px;
        display :flex;
    }
        .list-learn-Chapter-title .SubjectTitle{
            width : 70%;
            margin :auto;
        }
        .list-learn-Chapter-title span {
            margin-left: 15px;
        }
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #337ab7;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    position: absolute;
    display: none;
    /*background-color: rgb(255 255 255 / 26%);*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*display: flex;*/ /* Thêm display: flex */
    /*flex-direction: column;*/ /* Thêm flex-direction: column */
    /*height: 15%;*/ /* Xóa thuộc tính height */
}

    .dropdown-content.showuser {
        /*display: block;*/
        transform: translate(-250px, 10px);
        width: 275px;
        height: 15%;
        padding: 0;
        line-height: 43px;
        display: flex; /* Thêm display: flex */
        flex-direction: column; /* Thêm flex-direction: column */
        height: 15%; /* Xóa thuộc tính height */
    }
    .dropdown-content span {
        padding-left: 10px;
        width: 100%;
        background-color: rgb(255 255 255 / 26%);
    }

    .dropdown-content li {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content li:hover {
            background-color: #f1f1f1;
        }