@model Learnonl.Data.Account
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Account</title>
    <link rel="shortcut icon" type="imagem/png" href="~/images/logo.png" />
    <link rel="stylesheet" href="~/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div>
                    @Html.Partial("_Logoadmin")
                </div>
                <!-- Sidebar navigation-->
                @Html.Partial("_Navadmin")

                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            @Html.Partial("_Headeradmin")
            <!--  Header End -->
            <div class="container-fluid">
                <!--  Row 1 -->
                <div class="row">
                    <h2>Edit Account</h2>
                    <div class="col-md-6">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="UserId" />
                            <div class="form-group">
                                <label asp-for="Username" class="control-label"></label>
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserRole" class="control-label"></label>
                                <input asp-for="UserRole" class="form-control" />
                                <span asp-validation-for="UserRole" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Avatar" class="control-label"></label>
                                <input asp-for="Avatar" class="form-control" />
                                <span asp-validation-for="Avatar" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="JoinDate" class="control-label"></label>
                                <input asp-for="JoinDate" class="form-control" />
                                <span asp-validation-for="JoinDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastLogin" class="control-label"></label>
                                <input asp-for="LastLogin" class="form-control" />
                                <span asp-validation-for="LastLogin" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BirthDate" class="control-label"></label>
                                <input asp-for="BirthDate" class="form-control" />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>

                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                }
                <div class="py-6 px-6 text-center">
                    <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank" class="pe-1 text-primary text-decoration-underline">AdminMart.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/sidebarmenu.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
</body>

</html>

