<div class="brand-logo d-flex align-items-center justify-content-between">
    <a href="~/Home" class="text-nowrap logo-img">
        <img src="~/images/logo.png" width="70px" alt="" />
    </a>
    <div class="close-btn d-xl-none d-block sidebartogagler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
    </div>
</div>