<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="~/admin" aria-expanded="false">
                <span>
                    <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
            </a>
        </li>
        <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">UI COMPONENTS</span>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="~/Accounts/index" aria-expanded="false">
                <span>
                    <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Customer</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="~/Lessons/index" aria-expanded="false">
                <span>
                    <i class="ti ti-cards"></i>
                </span>
                <span class="hide-menu">Lesson</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="~/Courses/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-file-description"></i>
                </span>
                <span class="hide-menu">Courses</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="~/Contents/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Contents</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="~/Coursecontents/index" aria-expanded="false">
                <span>
                    <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Coursecontents</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="~/Schedule/Index" aria-expanded="false">
                <span>
                    <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">Schedule</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="~/Schedule/AddSchedule" aria-expanded="false">
                <span>
                    <i class="ti ti-typography"></i>
                </span>
                <span class="hide-menu">AddSchedule</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="~/Categories/index" aria-expanded="false">
                <span>
                    <i class="ti ti-mood-happy"></i>
                </span>
                <span class="hide-menu">Category</span>
            </a>
        </li>
    </ul>
    <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
        <div class="d-flex">
            <div class="unlimited-access-title me-3">
                <a href="~/Home/Index" target="_blank" class="btn btn-primary fs-2 fw-semibold lh-sm">Home</a>
            </div>
        </div>
    </div>
</nav>